body{
	margin: 0;
	padding: 0;
}

.divHaut{

	background-color: blue;
}

.divMil{
	background-color: beige;
	float: left;
	width: 200px;
}

.divBas{
	background-color: red;
	float: left;
}

/* Clear permet de stopper le float */
.clear{
	clear: both;
}
